  This is Air-drum machine opencv project

  it produces electronic musical sound i have assigned key value of sound with the drum machine sound.

  you have to open https://www.onemotion.com/drum-machine/ and run the project.

  After runing project A frame screen will appear.

  on the frame screen there will be ouside rectangular will be made in which will written drum machine sound name.
  
  you have to show one/two object first is red color object and second is blue color in the rectangular area on frame.

  make sure onemotion site shoud be open.

  when object appears on the frame rectangular screen.

  then drum machine sounds.

  make sure you have to install this by pip on python

    import cv2/opencv
    import numpy as np
    import pyautogui
    import imutils

  
